@import '../style/colors.scss';

div {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex; 
    flex-direction: row;
    background-color: $backgroundColor-light;
}

@media (max-width: 1050px) {
    div {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        display: flex; 
        flex-direction: column;
    }
}