@import '../../style/colors.scss';

.sidebar {
    height: 100vh;
    width: 7vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 96;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: $navBar-bg;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.logo-div {
    position: relative;
}

.logo {
    height: 7vw;
    width: 7vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 97;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #7C5DFA;
}

.logo-img {
    height: 2vw;
    width: 2vw;
    position: absolute;
    top: 2.5vw;
    left: 2.5vw;
    z-index: 99;
}

.box1 {
    height: 3.5vw;
    width: 7vw;
    position: relative;
    top: 3.5vw;
    left: 0;
    z-index: 98;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #9277FF;
}

.night-avatar {
    margin-top: auto;
}

.mode-icon {
    height: 1.5vw;
    width: 1.5vw;
    display: block;
    cursor: pointer;
    // box-sizing: border-box;
    padding: 2vh 2.75vw;
    border-bottom: 0.25px solid #494E6E;
}

.avatar-image {
    display: block;
    height: 3vw;
    width: 3vw;
    margin: 2vh 2vw;
    border-radius: 50%;
}

@media (max-width: 1050px) {
    .sidebar {
        height: 7vh;
        width: 100vw;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .logo {
        height: 7vh;
        width: 7vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 97;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: #7C5DFA;
    }
    
    .logo-img {
        height: 2vh;
        width: 2vh;
        position: absolute;
        top: 2.5vh;
        left: 2.5vh;
        z-index: 99;
    }
    
    .box1 {
        height: 3.5vh;
        width: 7vh;
        position: relative;
        top: 3.5vh;
        left: 0;
        z-index: 98;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: #9277FF;
    }

    .night-avatar {
        margin-top: 0;
        margin-left: auto;
    }
    
    .mode-icon {
        height: 2vh;
        width: 2vh;
        display: inline-block;
        padding: 2vh 3.5vh;
        transform: translateY(-0.5vh);
        border-bottom: 0;
        border-right: 0.25px solid #494E6E;
    }
    
    .avatar-image {
        display: inline-block;
        height: 3vh;
        width: 3vh;
        margin: 2vh 3vh;
        border-radius: 50%;
    }
}