<div class="form">
    <form>
        <div class="form-elements">
            <h3>Title</h3>
            <h6>Bill From</h6>
            <div class="elements">
                <div class="single-element">
                    <label>Street Address</label><br>
                    <input type="text">
                </div>
            </div>
            <div class="elements">
                <div class="triple-elements">
                    <label>City</label><br>
                    <input type="text">
                </div>
                <div class="triple-elements">
                    <label>Postal Code</label><br>
                    <input type="text">
                </div>
                <div class="triple-elements">
                    <label>Country</label><br>
                    <input type="text">
                </div>
            </div>
            <h6>Bill To</h6>
            <div class="elements">
                <div class="single-element">
                    <label>Client's Name</label><br>
                    <input type="text">
                </div>
            </div>
            <div class="elements">
                <div class="single-element">
                    <label>Client's Email</label><br>
                    <input type="text">
                </div>
            </div>
            <div class="elements">
                <div class="single-element">
                    <label>Street Address</label><br>
                    <input type="text">
                </div>
            </div>
            <div class="elements">
                <div class="triple-elements">
                    <label>City</label><br>
                    <input type="text">
                </div>
                <div class="triple-elements">
                    <label>Postal Code</label><br>
                    <input type="text">
                </div>
                <div class="triple-elements">
                    <label>Country</label><br>
                    <input type="text">
                </div>
            </div>
            <div class="elements">
                <div class="double-elements">
                    <label>Issue Date</label><br>
                    <input type="text">
                </div>
                <div class="double-elements">
                    <label>Payment Terms</label><br>
                    <input type="text">
                </div>
            </div>
            <div class="elements">
                <div class="single-element">
                    <label>Project Description</label><br>
                    <input type="text">
                </div>
            </div>
            <h5>Item List</h5>
            <div class="item-elements">
                <div class="item">
                    <div class="five-elements">
                        <label>Item Name</label><br>
                        <input type="text">
                    </div>
                    <div class="five-elements">
                        <label>Qty.</label><br>
                        <input type="text">
                    </div>
                    <div class="five-elements">
                        <label>Price</label><br>
                        <input type="text">
                    </div>
                    <div class="five-elements">
                        <label>Total</label><br>
                        <input type="text" disabled value="1200">
                    </div>
                    <div class="five-elements">
                        <img src="../../../assets/icon-delete.svg" alt="trash can">
                    </div>
                </div>
                 <div class="add-item">
                    <button>+ Add New Item</button>
                </div>
            </div>
        </div>
        <div class="submit-buttons">
            <div><button>Discard</button></div>
            <div><button>Save as Draft</button><button>Save and Send</button></div>
        </div>
    </form>
</div>
